<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%= "apnacollege".toUpperCase() %></h3>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi tenetur reiciendis earum quam fugiat voluptatum expedita possimus suscipit consequuntur nihil maxime nemo labore quos dolorem, corporis quis at laudantium quas?
        Quibusdam ipsam nemo officiis excepturi enim, vero ut perferendis assumenda, iste autem ex voluptas dolorem unde. Incidunt dolor reiciendis, et cum quae quos ad adipisci eius? Earum labore nisi iste.
        Corrupti, quia, incidunt amet aliquam saepe accusamus tenetur temporibus ipsam autem tempora magni reiciendis nobis molestias minus reprehenderit suscipit voluptates cumque quis. Eaque suscipit quasi quibusdam dolores provident expedita soluta?
        Sequi ratione velit iste doloremque ipsam labore rerum dolores laborum placeat ut dolore consequatur expedita nulla nam debitis fugiat, beatae dolorum quas sint veritatis ad sed hic! Culpa, excepturi aspernatur.
        Recusandae vitae ea omnis debitis saepe provident nulla explicabo quos ipsum aliquam id, laborum hic, cupiditate porro pariatur nostrum dolorem nam perspiciatis. Maxime corrupti sed saepe ipsa temporibus necessitatibus amet!
        Est atque consequatur iusto itaque, ab soluta eligendi, suscipit iste, adipisci possimus odit inventore totam eaque enim distinctio consectetur dicta at perspiciatis. Obcaecati accusantium, incidunt impedit consequuntur voluptatum odio maiores.
        Quisquam deserunt recusandae distinctio non rerum, molestias eligendi in saepe eius veniam, quos molestiae repudiandae delectus, blanditiis beatae aspernatur aliquam cupiditate officiis! Nisi earum, facilis cupiditate tempora cum laboriosam illo?
        Nam quas asperiores reprehenderit sequi saepe in tempora quia dolor praesentium similique, aperiam veritatis consectetur delectus qui. Corrupti enim nemo, quibusdam quidem beatae corporis inventore illo distinctio, facilis magni assumenda.
        Hic amet nam quaerat. Asperiores odio accusamus eius non facilis. Error nesciunt ea magnam magni explicabo, facere doloremque itaque atque reiciendis fugit, eligendi at obcaecati culpa voluptates quisquam, beatae pariatur?
        Similique praesentium vel expedita fuga consectetur quibusdam vitae! Qui corporis porro eos sequi suscipit excepturi quisquam earum aut incidunt commodi, mollitia dolores distinctio dolor! Nobis temporibus aspernatur unde officia consequatur.
    </p>
    <button>click me</button>
</body>
</html>